:root {
  --primary-text: #6563ff;
  --primary-text-light: #8684fa;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  transition: 0.15s all cubic-bezier(0, 0, 0.2, 1);
  color: inherit;
  text-decoration: none;
  color: var(--primary-text);
}

a:hover {
  color: var(--primary-text-light);
}

* {
  box-sizing: border-box;
}
